#pictures-section{
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

#bakery-store-image-container{
  display: flex;
  align-self: center;
  width: 500px;
  height: 300px;
  margin-bottom: 25px;
  gap: 10px;
}

#bakery-store-image-container img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}